.idea/
*.iml
*.ipr
*.iws
eclipse/
.project
.classpath
.settings/
.gradle/
build/
out/
run/
eclipse/
user_jvm_args.txt
.DS_Store
Thumbs.db
*.log
crash-reports/
*.jar
!gradle/wrapper/gradle-wrapper.jar
.something-releaser.json
